.navbar{
    background-color: aliceblue;
    margin-bottom: 150px;
}
h1{
    color: rgb(35, 100, 185);
    margin-right: 100px;
}
h3{
    color: rgb(35, 100, 185);
}
h5{
    color:  rgb(35, 100, 185);
}
.col-8{
    margin-left: 150px;
    margin-bottom: 60px;    
}
#first{
    border-radius: 25px;
}